/* CSS Document */
@import url('add.css');
body {
  margin:0;
  background: url(../images/end.gif) repeat-y scroll 1280px top;
}

#layout {
  min-width: 980px;
  max-width: 1280px;
  -width:expression((document.body.clientWidth) <= 980 ? '980px' : (document.body.clientWidth) > 1280 ? '1280px' : 'auto');
  background:url(../images/bg.gif) left 100px repeat-x;
}

.container { position:relative; }

.cleaner {
  clear:both;
  overflow:hidden;
  height:0;
}

.header, .pathway, .description, .content, 
.footer, .columns {
  width:100%;
  clear:both;
}

.columns .left, 
.columns .main { float: left; }

.columns .left { width:20%; -margin-right: -100%; }
.columns .main { width: 80%; -margin-left:20%; -display: inline; }

/* - Header*/
.header {
  background: #030303; /*url(../images/wall.jpg) center bottom no-repeat;*/
  height:100px;
}

.header .container { margin: 0 1.5%;  padding: 2.5em 20% 2em 28% ; zoom:1; }

.logo {
  position:absolute;
  left:-1.5%;
  top:0;
}

.shortcuts {
  position:absolute;
  right:20px;
  top:10px;
}

.search {
  position:absolute;
  right:0;
  top:2.5em;
}

/*Pathway*/
.pathway { margin-bottom:0.5em; background: url(../images/hr.gif) left bottom repeat-x; }
.pathway .container { margin: 0 1.5%; padding: 1em 0 1.5em 0; //zoom:1; }

/* - Description */
.description .container { margin: 0 1.5%; padding: 1em 0 0 0; //zoom:1; }

/* - Content*/
.content .container { margin: 0 1.5%;  padding: 1em 260px 2em 1.5em; //zoom:1;  }
.content .container.column { margin: 0 1.5%;  padding: 1em 10% 2em 0; //zoom:1; }

.content .left .container {
  padding:0 20% 0 0;
  margin:0;
  zoom:1;
}
.content .main .container {
  padding:0;
  margin:0;
  zoom:1;
}

.rpanel { 
  position: absolute;
  right:0;
  top:0;
  width:215px;
}

.rpanel .container { margin:0; padding: 1.5em 0 2em 0;  }

/* - Footer*/
.footer {
  background:url(../images/hr.gif) left top repeat-x;
}

.footer .container {
  padding: 1.5em 20% 1em 0;
  margin: 0 1.5%;
  //zoom:1;
  font-size:0.75em;
}

.footer .copy {
  position:absolute;
  top:1.5em;
  right:0;
  text-align:right;
}
